DirectoryIndex index.html

<Files ".env">
  Order allow,deny
  Deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /hecate-/

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
